[Desktop Entry]
Categories=Office;
Comment=Serna free is a WYSIWYG XML editor
Comment=Serna free is a WYSIWYG XML editor
Exec=serna-free-bin
GenericName=
GenericName=
Icon=/usr/share/pixmaps/SernaIcon48.png
MimeType=
Name=serna-free-bin
Name=serna-free-bin
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
TryExec=serna-free-bin
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
